{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
          <style>
            .lightbox {
              display: none;
              position: fixed;
              z-index: 1000;
              padding-top: 2%;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: auto;
              background-color: rgba(0, 0, 0, 0.9);
            }
            .lightbox-content {
              margin: auto;
              display: block;
              width: 80%;
              cursor: pointer;
            }
            .lightbox-close {
              position: absolute;
              top: 15px;
              right: 35px;
              color: #fff;
              font-size: 40px;
              font-weight: bold;
              transition: 0.3s;
            }
            .lightbox-close:hover,
            .lightbox-close:focus {
              color: #bbb;
              text-decoration: none;
              cursor: pointer;
            }
           </style>
           <script>
            function showImage(src) {
              document.getElementById('main-image').src = src;
            }
            function openLightbox() {
              document.getElementById('lightbox').style.display = 'block';
              document.getElementById('lightbox-image').src = document.getElementById('main-image').src;
            }
            function closeLightbox() {
              document.getElementById('lightbox').style.display = 'none';
            }
           </script>
           <div class="page-header pb-4">
            <h6>
            <i class="fa-solid fa-road mr-2"></i> {{ .Title }}</h6>
          </div>
          <div class="w-full flex mt-4 mb-1">
            {{ $galleryimg:= .Params.trackgallery }}
            {{ if $galleryimg }}
            <div class="flex w-auto justify-center">
              
             <img id="main-image" alt="{{ .Title }}" 
             class="thumbnail pb-0 shadow-lg" 
             onclick="openLightbox()" 
             {{ if .Params.trackmainimage }} 
             src="https://i.imgur.com/{{ .Params.trackmainimage }}.jpg" {{ else }} 
             src="/{{.Params.image}}"  {{ end }}
             style="max-width: 920px; height: 520px;"/>
            </div>
            <div class="flex flex-col justify-start ml-4 space-y-4">
              <div class="flex thumbnail gap-2 justify-center">
                <img 
                {{ if .Params.trackmainimage }}
                onclick="showImage(`https://i.imgur.com/{{ .Params.trackmainimage }}.jpg`)" {{ else }} 
                onclick="showImage(`/{{.Params.image}}`)"  {{ end }}
                class="shadow-lg cursor-pointer"
                {{ if .Params.trackmainimage }}
                src="https://i.imgur.com/{{ .Params.trackmainimage }}.jpg" {{ else }}
                src="/{{.Params.image }}" {{ end }}
                style="width: 150px; height: 89px;"/>
               </div>
            {{ range $galleryimg }}
             <div class="thumbnail gap-2 flex justify-center">
              <img onclick="showImage(`https://i.imgur.com/{{ . }}.jpg`)" class="shadow-lg cursor-pointer" src="https://i.imgur.com/{{ . }}.jpg" style="width: 150px; height: 87px;"/>
             </div>
              {{ end }}
             
               {{/*  Small image below track image  */}}
               {{if in .Params.trackhosted "-"}}
               {{else}}
               {{ $tgallery:= .Params.trackgallery}}
               {{ $lengallery:= len $tgallery }}
               {{ $champion:= .Params.trackhosted}} 
               {{ with $champion }}
               {{ range $i, $p:= $champion }}
               {{ if eq $lengallery 3}}
               {{ if eq $i 2 }}
               {{ break }}           
               {{ end }}
               {{ else if eq $lengallery 2 }} 
               {{ if eq $i 3 }}
               {{ break }}           
               {{ end }}
               {{ else }}
               {{ if eq $i 4}}
                {{ break }}
                {{ end }}
                {{ end }}
                <div class="flex thumbnail justify-center" style="padding-top: 8.7px; padding-bottom: 8.7px; margin-bottom:6px">
                  <a href="/tags/{{ . | urlize }}"><img class="cursor-pointer" src="/images/{{ . | urlize}}.png" style="max-width: 110px; max-height: 45px;"/></a>
                </div>
               {{ end }}
               {{ end }}
               {{ end }}
              {{ else if .Params.trackmainimage }}
              <div class="flex thumbnail w-auto justify-center">
                <img id="main-image" class="shadow-lg" onclick="openLightbox()" src="https://i.imgur.com/{{.Params.trackmainimage}}.jpg" style="max-width: auto; height: 620px;"/>
               {{ else }}
               <div class="flex thumbnnail w-auto center justify-center">
                <img id="main-image" class="shadow-lg" onclick="openLightbox()" src="/{{.Params.image}}" style="max-width: auto; height: 620px;"/>
              {{ end  }}
            </div>
           </div>
           <div id="lightbox" class="lightbox" onclick="closeLightbox()">
            <span class="lightbox-close" onclick="closeLightbox()">&times;</span>
            <img class="lightbox-content" id="lightbox-image">
            </div>
          {{ if eq (len .Content) 0 }} {{ else }} <hr style="margin-top:6px; margin-bottom:15px"> {{ end }}
          <div class="content mb-2">
            {{ .Content }}
          </div>
          {{ if eq (len .Content) 0 }} <hr style="margin-top:2px; margin-bottom:12px"> {{ else }} 
          <hr style="margin-bottom:6px">
          {{ end }}
          {{ if eq .Params.trackhost "mods"}}
          <div class="notice2 info2 text-light" style="margin-bottom:7px">
              <p><i class="fa-solid fa-triangle-exclamation fa-xs" style="padding-right: 3px;"></i><b>Using an AD-Blocker like <a class="font-bold" target="_blank" href="https://ublockorigin.com/">uBlock Origin<i class="fa-solid fa-link fa-xs" style="padding-left: 3px;padding-right: 3px;"></i></a> is highly recommended when download from Mods.To</b></p></div>   
              {{ end}} 
          {{ $cspreq:= .Params.trackcsp}}
          {{ $cspreq1:= .Params.trackcsp1}}
          {{ $trackrq:= .Params.trackrequirement}}
          {{ $trackrqlink:= .Params.trackrequirelink}}
          {{ if or (in $cspreq "No") (in $cspreq "Unknown" ) }}
          {{ else }}
          <div class="notice2 info text-light" style="margin-bottom:4px">
            <p><b>This track requires <a class="font-bold" target="_blank" href="/misc/csp-0210-preview1/">CSP<i class="fa-solid fa-link fa-xs" style="padding-left: 3px;padding-right: 3px;"></i></a> to work properly, build {{ .Params.trackcsp }} or better</b></p></div>
          {{ end }}
          {{ if $trackrq }}
          <div class="notice2 info2" style="margin-bottom:4px;margin-top:7px;border-radius: var(--radius-sm)"><p class="font-bold"><i class="fa-solid fa-triangle-exclamation" style="padding-right: 9px;"></i>This extension requires <b> {{ if $trackrqlink }}<a href="{{ .Params.trackrequirelink }}">{{ end }}<u>{{ .Params.trackrequirement }}</u> to work properly</b></a></p>
          </div>
          {{ end }}
          <div class="flex items-center justify-center w-full py-2">
            <div class="overflow-x-auto w-full">
                    <div class="flex space-x-2">
                        <div class="text-left px-2 py-2 grid grid-cols-1 rounded-lg gap-1 border content-center w-1/2" style="padding-left:23px; border-radius: var(--radius-sm)">
                            <div>
                                {{ if .Params.extfor }}
                                <p><i class="fa-solid fa-circle-info fa-xs" style="padding-right: 3px;"></i> Extension for:
                                  {{ if .Params.extlink}}
                                <a href="{{ .Params.extlink }}" >{{end}}<b>{{ .Params.extfor }}</b></p></a>
                                {{ else }}
                                <p><i class="fa-solid fa-circle-info fa-xs" style="padding-right: 3px;"></i> Track name: <b>{{ .Params.trackname}}</b></p>{{end}}
                              </div>
                              <div>
                                <p> {{ if .Params.realname }}
                                  <i class="fa-solid fa-paperclip fa-xs" style="padding-right: 3px;"></i> Real name: <b> {{ .Params.realname }} </b>
                                  {{ else if .Params.extfor }}<i class="fa-solid fa-paperclip fa-xs" style="padding-right: 3px;"></i> Type: {{ else }}
                                  <i class="fa-solid fa-folder fa-xs" style="padding-right: 3px;"></i> File name: {{ end }} <b class="text-green">{{ .Params.trackfolder}}</b></p>
                                </div>
                        </div>
                        <div class="text-center rounded-lg border px-2 flex items-center justify-center w-1/5" style="border-radius: var(--radius-sm)" >
                          {{ if .Params.eventlogo }}
                          <img alt={{ .Params.tracklocation }} class="mx-auto" src="{{ if .Params.eventlogo2 }}https://i.imgur.com/{{.Params.eventlogo2}}.png{{else}}/images/{{ .Params.eventlogo | urlize }}{{end}}.png" style="max-width:160px; max-height:66px">
                          {{ else }}
                          {{ if or (in .Params.tracklocation "-") (in .Params.tracklocation "World") }}{{else}}
                          <a href="/tags/{{ .Params.tracklocation | urlize }}"> {{ end }}<img alt={{ .Params.tracklocation }} class="mx-auto" src="/images/{{ .Params.tracklocation | urlize }}.png" style="max-height:50px"></a>
                          {{ end }}
                      </div>
                        <div class="shadow-2xs text-left py-2 px-4 rounded-lg gap-2 border-1 grid content-center w-1/4" style="align-content: center; border-radius: var(--radius-sm)">
                          <div>
                            <p>Uploaded: <b>{{ time.Format ":date_medium" .PublishDate }}</b>
                          </div>
                          <div>
                            <p>Version: <b>{{ .Params.trackversion}}</b></p>
                          </div>
                        </div>
                        <div class="text-center rounded-lg border flex items-center justify-center w-1/5" style="border-radius: var(--radius-sm)">
                          <a href="{{ .Params.tracklink }}" title="Download via {{ .Params.host }}" rel="noopener noreferrer" target="_blank"><img alt={{ .Params.host }} title="Download via {{ .Params.host }}" class="mx-auto" src="/images/{{ .Params.trackhost | urlize }}.png" width="135"></a>
                      </div>
                    </div>
                </div>
            </div>
          <div class="flex items-center justify-center w-full shadow-xs">
            <div class="overflow-x-auto w-full">
                    <div class="flex space-x-2">
                        <div class="text-center rounded-lg border py-4 px-8 flex items-center justify-center w-1/4 aspect-square" style="border-radius: var(--radius-sm)">
                          {{ if or (in .Params.tracklocation "-") (in .Params.tracklocation "World") }}{{else}}  
                          <a href="/tags/{{ .Params.tracklocation | urlize }}">{{end}}<img alt={{ .Params.trackname }} class="mx-auto" src="{{ if .Params.tracklogo }}https://i.imgur.com/{{.Params.tracklogo}}.png{{else}}/images/{{ .Params.trackimage }}{{end}}.png" width="168"></a>
                        </div>
                        <div class="text-left px-2 py-4 items-center rounded-lg grid grid-cols-2 gap-1 border w-1/2" style="padding-left: 23px; border-radius: var(--radius-sm)">
                            <div>
                                <p><i class="fa-solid fa-earth-europe fa-xs" style="padding-right: 3px;"></i> Location:</p>
                                <a href="/tags/{{ .Params.tracklocation | urlize }}" class="font-bold">{{ if .Params.trackcity}}{{ .Params.trackcity}}, {{end}}{{ .Params.tracklocation}}</a>
                            </div>
                            <div style="padding-left:25px">
                              {{ if .Params.event }}
                              <p><i class="fa-solid fa-font-awesome fa-xs" style="padding-right: 3px;"></i> Event:</p>
                              <p class="inline-block font-bold">{{ .Params.event }}</p>
                              {{ else }}
                              <p><i class="fa-solid fa-certificate fa-xs" style="padding-right: 3px;"></i> Grades:</p>
                              <p class="font-bold">FIA Grade {{ .Params.trackclass }}</p>
                            {{ end }}
                            </div>
                            <div>
                            {{ $hosted:= .Params.trackhosted }}
                            {{ if $hosted }}
                              
                              <p>{{ if .Params.championship }}<i class="fa-solid fa-trophy fa-xs" style="padding-right: 3px;"></i> Championship: </p> <p class="font-bold">
                                {{.Params.championship}}
                              </p>
                                {{ else }} 
                               <i class="fa-solid fa-trophy fa-xs" style="padding-right: 3px;"></i> Host:</p>
                              {{ range $i,$p:= $hosted }}
                                <p
                                  class="font-bold inline-block">{{ if $i }}, {{ end }}
                                  {{ if in $hosted "-"}} {{ else}}
                                  <a href="{{ `/tags/` | relLangURL }}{{ . | urlize | lower }}" >{{end}}{{ . }}
                                  </a>
                            </p>
                              {{ end }} 
                              {{end}}         
                            </div>
                            {{ end }}
                            {{ $ttype:= .Params.tracktype }}
                            <div style="padding-left:25px">
                              {{ if eq .Params.modtype 1 }}
                              {{ $extseason:= .Params.extseason}}
                              <p><i class="fa-solid fa-calendar-day fa-xs" style="padding-right: 3px;"></i> Season:</p>
                              {{ range $i,$p:= $extseason }}
                                <p
                                  class="font-bold inline-block">{{ if $i }}, {{ end }}
                                  <a href="{{ `/tags/` | relLangURL }}{{ . | urlize | lower }}" >{{ . }}
                                  </a>
                                  {{ end }}
                              {{ else if .Params.eventyear }}
                              {{ $evyear:= .Params.eventyear }}
                              <p><i class="fa-solid fa-calendar-days fa-xs" style="padding-right: 3px;"></i> Season:</p>
                              {{ range $i,$p:= $evyear }}
                              {{ if $i }}, {{ end }}
                              <a href="{{ `/tags/` | relLangURL }}{{ . | urlize | lower }}" ><p class="inline-block font-bold">{{ . }}
                              </p></a>{{ end }}
                              {{else}}
                              <p><i class="fa-solid fa-thumbtack fa-xs" style="padding-right: 3px;"></i> Type:</p>
                              {{ range $i,$p:= $ttype }}
                              {{ if $i }}, {{ end }}
                              <a href="{{ `/tags/` | relLangURL }}{{ . | urlize | lower }}" ><p class="inline-block font-bold">{{ . }}</p></a> {{ end }}
                              {{ end }}
                            </div>
                        </div>
                        <div class="text-left px-2 py-4 rounded-lg grid grid-cols-2 gap-1 border-1 items-center w-1/3" style="padding-left:35px; border-radius: var(--radius-sm)">
                            <div>
                                <p>Length:</p>
                                <p class="font-bold">{{ .Params.tracklength }} KM</p>
                            </div>
                            {{ if .Params.layoutversion}}
                            <div>
                              <p>Version:</p>
                              <p class="font-bold">{{ .Params.layoutversion}}</p>
                          </div>
                          {{ else}}
                            <div>
                                <p>Opened:</p>
                                <p class="font-bold">{{ .Params.trackopened}}</p>
                            </div>
                            {{ end }}
                            <div>
                                <p>Layouts:</p>
                                <p class="font-bold">{{ .Params.tracklayout }}</p>
                            </div>
                            <div>
                                <p>Pitboxes:</p>
                                <p class="font-bold">{{ .Params.trackpitboxes }}</p>
                            </div>
                        </div>
                        <div class="text-left py-4 px-8 rounded-lg border grid grid-cols-1 gap-1 items-center w-1/6" style="border-radius: var(--radius-sm)">
                          {{ $clink:= .Params.trackcreatorlink }}
                            <div><p><i class="fa-solid fa-user fa-xs" style="padding-right: 3px;"></i> Credit: </p>{{ if $clink }} <a href="{{ .Params.trackcreatorlink | urlize }}" class="font-bold" target="_blank"> {{else}}<a target="_blank" href="/tags/{{ .Params.trackcreator | urlize }}" class="font-bold">{{end}}{{ .Params.trackcreator }} 
                              {{ $creatorfull:= .Params.trackcreatorfull }}
                              {{ if .Params.trackcreator2 }}, <a href="/tags/{{ .Params.trackcreator2 | urlize }}" class="font-bold" target="_blank">{{ .Params.trackcreator2 }} </a>
                              {{ else if $creatorfull }} - {{ .Params.trackcreatorfull }} {{end}}
                            </a></div>
                            <div><p><i class="fa-solid fa-arrows-left-right fa-xs" style="padding-right: 3px;"></i> Width: </p><p class="font-bold">{{ .Params.trackwidth }} m</p></div>          
                            
                        </div>
                    </div>
                </div>
            </div>
          <br>
          <div class="row gx-2 items-start justify-between">
            {{ $tags:= .Params.tags }}
            {{ if $tags }}
              <div class="lg:col-12 mb-10 flex items-center lg:mb-0">
                <h6 class="mr-3">{{ T "tags" }}:</h6>
                <ul>
                  {{ range $i,$p:= $tags }}
                    <li class="inline-block">
                      <a
                        class="btn btn-link" 
                        href="{{ `/tags/` | relLangURL }}{{ . | urlize }}/">
                        {{ . }}
                      </a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            {{ end }}
          </div>

          {{/*  {{ if site.Config.Services.Disqus.Shortname }}
            <div class="mt-20">
              {{ template "_internal/disqus.html" . }}
            </div>
          {{ end }}  */}}
          {{/*  </article>  */}}
      {{/*  </div> -->  */}}

      <!-- Related posts -->
      {{ $related := .Site.RegularPages.Related . | first 12 }}
      {{ with $related }}
        <div class="section pb-0">
          <h4 class="h5 mb-2"><i class="fa fa-road mr-2"></i>Same categories tracks</h4>
          <div class="row" style="margin-right: calc(var(--bs-gutter-x) / 2); margin-left: calc(var(--bs-gutter-x) / -7)">
            {{ range $related | first 12}}
            {{ if ne .Section "tracks"}}
            {{ else }}
            {{/*  {{ if  }}
            {{ continue  }}
            {{ end }}  */}}
              <div class="lg:col-3 md:col-6" >
                {{ partial "components/related-card" .}}
              </div>
              {{end}}
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
